.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 0;
  position: fixed;
  list-style: none;
  background: #3083ff;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 20%;
  margin: auto;
}
.container svg {
  color: #fff;
  fill: #fff;
}
/* .container .active {
  display: flex;
  align-items: center;
  justify-content: center;
 
  padding: 10px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #fff;
}
.active svg {
  color: #3030ff;
  fill: #3030ff;
} */
